:root {

  // COLORS
  
  --primary-color: rgb(255, 163, 177);
  --secondary-color: rgb(39, 255, 172);

  --one:rgb(114, 95, 98);
  --two:pink;
  --three:rgb(181, 97, 111);

  // CONTAINERS

  --container-md: 75rem;
}